#qrar {
    position: relative;
}

#qrar * {
    position: absolute;
}

.debug div {
    border: 1px solid rgb(0, 0, 150);
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: lightblue;
    border-radius: 50%;
}

#topRight2,
#topLeft2,
#bottomLeft2,
#bottomRight2 {
    width: 7px;
    height: 7px;
    background-color: red;
}

.debug #debugOverlay,
.debug #testDebugOverlay {
    width: 100px;
    height: 100px;
    border-radius: 0px;
    background-image: url("https://png.pngtree.com/element_pic/17/09/27/e88531dbf0cf81f4eacba773aa4bb9b0.jpg");
    background-size: contain;
}